@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
 max-width: 1285px;
 margin: auto;
 padding: 5rem 1rem;
}

.section__header  {
    margin-bottom: 1.4rem;
    font-size: 2.26rem;
    font-weight: 585;
    text-align: center;
    color: black;
}

.section__subheader {
   max-width: 600px;
   margin: auto;
   text-align: center;
   color: black;
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: 1px solid #fafafa;
    font-size: 1rem;
    color: black;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    background-color: lightcyan;
}

img {
    width: 100%;
    display: flex;
}

a {
text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(128, 128, 128, 0.878);
}

nav {
 max-width: 1200px;
 margin: auto;
 padding: 2rem 1rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 2rem;
}

.nav__logo {
    max-width: 150px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.link a {
  position: relative;
  padding-bottom: 0.73rem;
  color: black;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: 0.2s;
  }

.link a:hover::after {
    width:60%
}

.header__container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem; 
}

.header__container::before {
    content: "GET FIT";
    position: absolute;
    bottom: 6rem;
    right: 33rem;
    font-size: 10rem;
    font-weight: 700;
    line-height: 7rem;
    color: gray;
    opacity: 0.9;
    z-index: -1;
}

.header__content h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 601;
    color: black;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
    color: white;
}

.header__content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

.header__container p {
    margin-bottom: 2rem;
    color: black;
}

.header__image {
    position: relative;
}


.header__image img {
    max-width: 350px;
    margin: auto;
}

.explore__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.explore__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.explore__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.explore__card {
    padding: 1rem;
    background-color: lightblue;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.explore__card:hover {
    background-color: lightcyan ;
    border-color: lightblue;
}

.explore__card span {
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: black;
    background-color: lightblue;
    border-radius: 5px;
}

.explore__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
}

.explore__card p {
    margin-bottom: 1rem;
}

.explore__card a {
    color: black;
    transition: 0.4s;
}

.explore__card a:hover {
    color: orange;
}

.class__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.class__image {
    position: relative;
}


.class__image .class__img-2 {
    position: absolute;
    right: 1;
    top: 0;
    max-width: 550px;
    border-radius: 10px;
}

.class__content {
    padding: 2rem 0;
}

.class__content .section__header {
    text-align: left;
    max-width: 400px;
}

.class__content p {
    margin-bottom: 4rem;
    color: black
}

.join__image {
    margin-top: 5rem;
    position: relative;
}

.join__image img {
    border-radius: 10px;
}

.join__grid {
    position: absolute;
    bottom: -5rem;
    width: calc(100% - 4rem);
    padding: 3rem;
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 60px;
}

.join__card {
    flex: 1 1 265px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.join__card span {
    padding: 5px 12px;
    font-size: 1.80rem;
    color: black;
    background-color: lightcyan;
    border-radius: 5px;
}

.join__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.join__card p {
    color: black;
}


/* Price card */
.price__grid{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 50px;
}

.price__card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: 2px solid transparent;
    border-radius: 9px;
    transition: 0.2;
}

.price__card:hover{
    background-color: lightcyan;
    border-color: lightblue;
}

.price__card__content{
    flex: 1;
    margin-bottom: 2rem;
}

.price__card h4{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.price__card h3{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    border-bottom: 2px solid black;
}

.price__card p{
    margin-bottom: 0.75rem;
    color: black;
}

.price__card p i{
    margin-right: .5rem;
    font-size: 1.3rem;
    color: orange;
}

.price__btn{
    color: black;
    background-color: lightcyan;
    border: 1px solid black;
}

.price__btn:hover{
    color: white;
    background-color: orange;
}


/* Form */
#signup-form {
   border: 2px solid #ccc;
   background-color: lightblue;
   width: 450px;
   margin: 0 auto;
   padding: 20px;
}


#signup-form>h2 {
    color: black;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 50%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


/* Footer */
footer {
    background: lightblue;
    padding-top: 50px;
    border: 2px solid #fafafa;
    margin-top: 100px;
}

.container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
}

.footer-content h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.list {
    padding: 0;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list a ::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: orange;
    transition: .3s;
}

.list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: black;
    font-size: 25px;
}

a {
    text-decoration: none;
}

.list a:hover {
    color: orange;
}

.social-icons i:hover {
    color: orange;
}

.bottom-bar {
    background: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p {
    color: black;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}